.headerBtn{
	background-color: var(--black);
	color: var(--white);
	border-radius: 5px;
	border: none;
}
header > div{
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}
.header img{
	cursor: pointer;
}
.mainSection p, span{
		color: var(--white);
}
.mainSection p:first-child{
	font-size: 7.4rem;
	max-width: 18ch;
	padding-bottom: 80px;
}
.mainSection p{
	font-size: 2.2rem;
	text-shadow: 1px 1px 1px var(--black);
	font-weight: bold;
}
.mainSectionBtn{
	color: var(--white);
	font-size: 2rem;
	border: none;
	border-radius: 10px;
	font-weight: 650;
	margin-top: 80px;
	padding: 20px 40px;
	outline: none;
}
.mainSectionBtn:active{
	padding: 19px 35px;
	margin-top: 82px;
}
.sectionCard{
	margin: 80px auto;
	position: relative;
	flex-direction: column;
	height: 300px;
	padding: 0 10px;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	background-color: var(--blue);
}
.sectionCard > div{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: absolute;
	top: 0;
}
.sectionCard h2{
	color: var(--white);
	text-align: center;
	padding: 10px 0;
}
.sectionCard p{
	text-align: center;
	font-size: 1.8rem;
	text-shadow: 1px 1px 1px var(--black);
	line-height: 1.2;
	color: var(--white);
}
.sectionCard button{
	background-color: var(--black);
	font-size: 2rem;
	border: none;
	border-radius: 10px;
	font-weight: 550;
	padding: 10px 30px;
	color: var(--white);
	margin-bottom: 10px;
}
.sectionDepoiment{
	flex-direction: column;
	justify-content: center;
	padding-top: 80px;
	align-items: center;
}
.sectionDepoiment img{
	border-radius: 50%;
	padding: 80px 0;
}
.sectionDepoiment p:first-child{
	font-size: 3rem;
	text-align: center;
	max-width: 40ch;
}
.sectionDepoiment p{
	color: var(--white);
}
.collapse{
	height: 100%;
	width: 30px;
	display: none;
}
.barras{
	height: 5px;
	width: 100%;
	background-color: var(--black);
}
.barras:nth-child(2){
	margin: 5px 0;
}
@media(max-width: 590px){
	.navbar{
		flex-direction: column;
		align-items: center;
		position: relative;
		left: 100vw;
		display: none;
	}
	.collapse{
		display: block
	}
}






