*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-page{
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  align-items: center;
}
.header-image{
  margin-top: 5px;
}
.nav-links{
  display: inline;
  line-height: 60px;
}
.nav-style-links a{
  text-decoration: none;
  color: #337ab7;
  margin-right: 20px;
  font-size: 14px;
}
.nav-style-links a:hover{
  text-decoration: underline;
}
#btn{
  margin-right: 0;
  text-decoration: none;
  border: none;
  background-color: #127d00;
  color: white;
  padding: 10px 16px 10px 16px;
}
#btn:hover{
  background-color: #0e6400;
}
#logo:hover{
  cursor: pointer;
}
